<h1>Welcome to the Photos Home page!</h1>
<div>
  <% if user_signed_in? %>
    <p>Signed in as: <%= current_user.email %></p>
  <% else %>
    <p>If you would like to view your photos, please <%= link_to "login.", user_session_path %>
  <% end %>
</div>