<h1>Photos</h1>
<% if user_signed_in? %>
  <%= link_to "Add Photos", new_photo_path %>
<% end %>

<% @photos.each do |p| %>
  <div class="center">
    <strong><%= p.title %></strong>
  </div>
  <br/>
  <div class="center-img">
    <%= link_to photo_path(p) do %>
      <%= image_tag p.image, class: "center_img index" if p.image.attached? %>  
    <% end %>
  </div>
  <br/>
  <hr/>
<% end %>